SalesmanWorkplaceWEBClient/Service References/ServiceReference1/SWService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://spbadm4.eskru.local:8089/SWService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" />
  <xs:element name="GetCPList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetCPListInfo" nillable="true" type="q1:SWIService.GetCPListParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCPListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="CheckPassInfo" nillable="true" type="q2:SWIService.CheckPassParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckPassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetFullNameInfo" nillable="true" type="q3:SWIService.GetFullNameParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFullNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesmanCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetSalesmanCodeInfo" nillable="true" type="q4:SWIService.GetSalesmanCodeParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesmanCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSalesmanCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesmanList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetSalesmanListInfo" nillable="true" type="q5:SWIService.GetSalesmanListParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesmanListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSalesmanListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyCP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="CopyCPInfo" nillable="true" type="q6:SWIService.CopyCPParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyCPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CopyCPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="DeleteCPInfo" nillable="true" type="q7:SWIService.DeleteCPParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWHList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWHListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWHListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocCodesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocCodesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocCodesListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrencyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrencyListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceConditionList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceConditionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPriceConditionListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartialDeliveryVariantsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartialDeliveryVariantsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPartialDeliveryVariantsListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPNewNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPNewNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCPNewNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetCPHeaderInfo" nillable="true" type="q8:SWIService.GetCPHeaderParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetCPHeaderResult" nillable="true" type="q9:ArrayOfSWIService.GetCPHeaderParametersRet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerColumns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerColumnsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetCustomerListInfo" nillable="true" type="q10:SWIService.GetCustomerListParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPToPrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MyCPID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPToPrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetCPToPrintResult" nillable="true" type="q11:ArrayOfSWIService.GetCPToPrintParametersRet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CPHasStrings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="CPHasStringsInfo" nillable="true" type="q12:SWIService.CPHasStringsParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CPHasStringsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CPHasStringsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCPData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="CheckCPDataInfo" nillable="true" type="q13:SWIService.CheckCPDataParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCPDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckCPDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="AddOrderHeaderInfo" nillable="true" type="q14:SWIService.AddOrderHeaderParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrderHeaderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductColumns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductColumnsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCategoriesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetProductListInfo" nillable="true" type="q15:SWIService.GetProductListParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPProductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetCPProductListInfo" nillable="true" type="q16:SWIService.GetCPProductListParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCPProductListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetWHInfo" nillable="true" type="q17:SWIService.GetWHParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetWHResult" nillable="true" type="q18:ArrayOfSWIService.GetWHParametersRet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPTotal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetCPTotalInfo" nillable="true" type="q19:SWIService.GetCPTotalParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPTotalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetCPTotalResult" nillable="true" type="q20:ArrayOfSWIService.GetCPTotalParametersRet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarginLevels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetMarginLevelsInfo" nillable="true" type="q21:SWIService.GetMarginLevelsParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMarginLevelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetMarginLevelsResult" nillable="true" type="q22:ArrayOfSWIService.GetMarginLevelsParametersRet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReCalcCP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="ReCalcCPInfo" nillable="true" type="q23:SWIService.ReCalcCPParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReCalcCPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReCalcCPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncreaseCPPerCent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="IncreaseCPPerCentInfo" nillable="true" type="q24:SWIService.IncreaseCPPerCentParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncreaseCPPerCentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IncreaseCPPerCentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierColumns">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierColumnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSupplierColumnsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetSupplierListInfo" nillable="true" type="q25:SWIService.GetSupplierListParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSupplierListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSupplierListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="DelOrderInfo" nillable="true" type="q26:SWIService.DelOrderParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCPDelCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="SetCPDelCostInfo" nillable="true" type="q27:SWIService.SetCPDelCostParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCPDelCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCPDelCostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAltProductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetAltProductListInfo" nillable="true" type="q28:SWIService.GetAltProductListParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAltProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAltProductListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetItemDetailListInfo" nillable="true" type="q29:SWIService.GetItemDetailListParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemDetailListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetItemDetailInfo" nillable="true" type="q30:SWIService.GetItemDetailParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetItemDetailResult" nillable="true" type="q31:ArrayOfSWIService.GetItemDetailParametersRet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemBatches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetItemBatchesInfo" nillable="true" type="q32:SWIService.GetItemBatchesParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemBatchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemBatchesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetOrderListInfo" nillable="true" type="q33:SWIService.GetOrderListParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrderListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetOrderDetailsInfo" nillable="true" type="q34:SWIService.GetOrderDetailsParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrderDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUOMList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUOMListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUOMListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetItemEditInfo" nillable="true" type="q35:SWIService.GetItemEditParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetItemEditResult" nillable="true" type="q36:ArrayOfSWIService.GetItemEditParametersRet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCPDelTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="SetCPDelTimeInfo" nillable="true" type="q37:SWIService.SetCPDelTimeParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCPDelTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetCPDelTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="EditOrderInfo" nillable="true" type="q38:SWIService.EditOrderParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetItemInfo" nillable="true" type="q39:SWIService.GetItemParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetItemResult" nillable="true" type="q40:ArrayOfSWIService.GetItemParametersRet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewStrNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetNewStrNumInfo" nillable="true" type="q41:SWIService.GetNewStrNumParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewStrNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewStrNumResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemSupp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetItemSuppInfo" nillable="true" type="q42:SWIService.GetItemSuppParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemSuppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemSuppResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="AddOrderInfo" nillable="true" type="q43:SWIService.AddOrderParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPToExcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetCPToExcelInfo" nillable="true" type="q44:SWIService.GetCPToExcelParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCPToExcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCPToExcelResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemInScalaExistOrNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="ItemInScalaExistOrNoInfo" nillable="true" type="q45:SWIService.ItemInScalaExistOrNoParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemInScalaExistOrNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemInScalaExistOrNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemSuppInScalaExistOrNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="ItemSuppInScalaExistOrNoInfo" nillable="true" type="q46:SWIService.ItemSuppInScalaExistOrNoParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ItemSuppInScalaExistOrNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemSuppInScalaExistOrNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScalaSICtItemList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetScalaSICtItemListInfo" nillable="true" type="q47:SWIService.GetScalaSICtItemListParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScalaSICtItemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetScalaSICtItemListResult" nillable="true" type="q48:ArrayOfSWIService.GetScalaSICtItemListParametersRet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="ImportRowInfo" nillable="true" type="q49:SWIService.ImportRowParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportRowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ImportRowResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScalaCodeBySuppCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SalesmanWorkplaceService" minOccurs="0" name="GetScalaCodeBySuppCodeInfo" nillable="true" type="q50:SWIService.GetScalaCodeBySuppCodeParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScalaCodeBySuppCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetScalaCodeBySuppCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>